@page "/"
@using Microsoft.AspNetCore.SignalR.Client

<h1>@hubConnection.State</h1>

<div class="form-group">
    <label>
        User:
        <input @bind="userName" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="250" />
    </label>
</div>
<button @onclick="SendMessageAsync" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message.Name: @message.Message</li>
    }
</ul>

<SurveyPrompt Title="How is the chatting room working out for you?" />


@code{
    private HubConnection hubConnection;
    private List<ClientMessage> messages = new List<ClientMessage>();
    private string userName;
    private string messageInput;
    private readonly HttpClient httpClient = new HttpClient();

    private readonly string signalRBaseUrl = "http://localhost:7071/api/";

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(signalRBaseUrl).Build();

        hubConnection.On<ClientMessage>("clientMessage", (message) =>
        {
            messages.Add(message);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    async Task SendMessageAsync()
    {
        var msg = new ClientMessage
        {
            Name = userName,
            Message = messageInput
        };

        await httpClient.PostAsJsonAsync($"{signalRBaseUrl}messages", msg);
        messageInput = string.Empty;
        StateHasChanged();
    }

    public bool IsConnected =>
       hubConnection.State == HubConnectionState.Connected;

    public class ClientMessage
    {
        public string Name { get; set; }
        public string Message { get; set; }
    }
}